<!-- CSS CUSTOM -->
{% extends 'houses/base.html' %}
{% load static %}

{% block content %}
        <div class="container-comodities-box">
            <div class="comodities-card">
                <div class="card-title">Comodidades</div>
                <div class="card-container">
                    <div class="card-inner-cont">
                            <div class="card-inner-title">Número de baños</div>
                            <div class="card-options">
                                <div class="options-item" data-checked="false" data-space="bath" data-value="1">1</div>
                                <div class="options-item" data-checked="false" data-space="bath" data-value="2">2</div>
                                <div class="options-item" data-checked="false" data-space="bath" data-value="3">3</div>
                                <div class="options-item" data-checked="false" data-space="bath" data-value="4">4+</div>
                            </div>
                    </div>
                    <div class="card-inner-cont">
                            <div class="card-inner-title">Número de habitaciones</div>
                            <div class="card-options">
                                <div class="options-item" data-checked="false" data-space="rooms" data-value="1">1</div>
                                <div class="options-item" data-checked="false" data-space="rooms" data-value="2">2</div>
                                <div class="options-item" data-checked="false" data-space="rooms" data-value="3">3</div>
                                <div class="options-item" data-checked="false" data-space="rooms" data-value="4">4</div>
                                <div class="options-item" data-checked="false" data-space="rooms" data-value="5">5</div>
                                <div class="options-item" data-checked="false" data-space="rooms" data-value="6">6</div>
                                <div class="options-item" data-checked="false" data-space="rooms" data-value="7+">7+</div>
                            </div>
                    </div>
                    <div class="card-inner-cont">
                        <div class="card-inner-title">Garaje</div>
                        <div class="card-options">
                            <div class="options-item" data-checked="false" data-space="garage" data-value="si">Si</div>
                            <div class="options-item" data-checked="false" data-space="garage" data-value="no">No</div>
                            
                        </div>
                    </div>
                    <div class="card-inner-cont">
                        <div class="card-inner-title">Balcón</div>
                        <div class="card-options">
                            <div class="options-item" data-checked="false" data-space="balcon" data-value="si">Si</div>
                            <div class="options-item" data-checked="false" data-space="balcon" data-value="no">No</div>
                        </div>
                    </div>
                    <div class="card-inner-cont">
                        <div class="card-inner-title">Ascensor</div>
                        <div class="card-options">
                            <div class="options-item" data-checked="false" data-space="ascensor" data-value="si">Si</div>
                            <div class="options-item" data-checked="false" data-space="ascensor" data-value="no">No</div>
                            
                        </div>
                    </div>
                    <div class="card-inner-cont">
                        <div class="card-inner-title">Area Social</div>
                        <div class="card-options">
                            <div class="options-item" data-checked="false" data-space="social" data-value="si">Si</div>
                            <div class="options-item" data-checked="false" data-space="social" data-value="no">No</div>
                            
                        </div>
                    </div>
                    <div class="card-inner-btn">Guardar</div>
                </div>
            </div>
        </div>
        <div class="spacer"></div>
        <div class="info-upload">
            <div class="form-title">Perfecto {{ name }}, iniciemos con nuestro proceso de remodelación</div>
            <div class="form-caption">Ayudanos adjuntando la información a continuación</div>
            <div class="progress-bar">
                <div class="circle etapa1 current">1</div>
                <!-- <div class="circle etapa1"><i class="fas fa-check"></i></div> -->
                <div class="line-1"></div>
                <div class="circle etapa2">2</div>
                <div class="line-2"></div>
                <div class="circle etapa3">3</div>
            </div>

            <div class="progress-bar" style="margin-top: -1vh;">
                <div class="text etapa1" style="transform: translate(-40%, 0);">Información del apartamento</div>
                <div class="text etapa2">Subir imágenes</div>
                <div class="text etapa3" style="transform: translate(40%, 0);">Informe y descarga</div>
            </div>

            <div class="etapa-1">
                <div class="etapa-title">DATOS DEL APARTAMENTO</div>

                <form action="/houses/newhouse/create/?uid={{uid}}" method="post">
                    {% csrf_token %}
                        <input type="hidden" id="barrio-form" name="neighborhood" placeholder="barrio">
                        <input type="hidden" id="precio-form" name="price" placeholder="price">
                        <input type="hidden" id="area-form" name="area" placeholder="area">
                        <input type="hidden" id="comodidades-form" name="comodities" placeholder="comodidades">
                        <br>
                        <br>
                        <div class="etapa1-form">
                            <div class="form-item" data-type="Barrio">
                                <div class="item-title">Barrio</div>
                                <div class="item-info" id="barrio">Escribe el barrio</div>
                            </div>
                            <div class="form-item" data-type="Precio">
                                <div class="item-title">Precio</div>
                                <div class="item-info" id="precio">$0</div>
                            </div>
                            <div class="form-item" data-type="Area">
                                <div class="item-title">Area</div>
                                <div class="item-info" id="area">0m²</div>
                            </div>
                            <div class="form-item" data-type="Comodidades">
                                <div class="item-title">Comodidades</div>
                                <div class="item-info" id="comodidades">Describe las comodidades</div>
                            </div>
                        </div>
                    
                    <div class="input-box">
                        <div class="input-title">Ubicación</div>
                        <div class="box-input">
                            <input type="text" id="input" name="input" placeholder="">
                        </div>
                        <div class="input-save">Guardar</div>
                    </div>

                    
                    
                    {% block messages %}
                        {% if error %}<h3 style="width: 100%; color: red; text-align: center; font-style: italic; font-weight: bold; top: 84vh;">{{ error }}</h3>{% endif %}
                    {% endblock %}
                    
                    

                    <input type="submit" class="" style="position: absolute; padding: 2vh 1vw; width: 35vw; border-radius: 30px; line-height: 0vh; font-weight: bold; left: 0; right: 0; margin: 0 auto; top: 79vh;" value="Seguir al paso 2">
                </form>
                <!-- <div class="next-button1">Seguir al paso 2</div> -->
                <br>
                <!-- <div class="appartment-code">Tengo un código de apartamento</div> -->
                <br>
                <br>
                <br>
                
                
            </div>
{% endblock %}